.task{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.task .date{
    width: 5%;
    padding-left: 1em;
    padding-right: 3em;
    color: gray;
}
.task button{
    position: fixed;
    right: 1em;
}
.task .content{
    width: 80%;
}

.check{
    
    background-color: green;
}

.frame{
    height: 0.7em;
    width: 0.7em;
    padding : 0.2em;
    border: solid black 0.2em;
    border-radius: 0.2em;
}

ul{
    list-style: none;
}