.task{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.task .date{
    width: 5%;
    padding-left: 1em;
    padding-right: 3em;
    color: gray;
}
.task button{
    position: fixed;
    right: 1em;
}
.task .content{
    width: 80%;
}

.checked{
    height: 0.5em;
    width: 0.5em;
    border: solid gray 0.1em;
    border-radius: 0.2em;
    background-color: green;
}

.checked{
    height: 0.5em;
    width: 0.5em;
    border: solid gray 0.1em;
    border-radius: 0.2em;
}